@page
@model IndexModel
@{
    ViewData["Title"] = "Test CI-CD";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos 2</h1>
    <h2 class="display-3">@Environment.GetEnvironmentVariable("LOCATION") </h2>
</div>
